*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium'
}

body {
padding: 0;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
background-color: #444;
font-size: 20px;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: rgb(39, 73, 20);
  border:2px solid rgb(4, 41, 18);
  border-radius: 5px;
  padding: 5px 10px;
  color: rgb(238, 241, 42);
}

.btn:hover {
  background-color: rgb(15, 37, 2);
}